/*MEDIA QUERY MODAL MOBILE STYLING*/
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 20rem;
  }
  #jobs {
    padding-top: 0;
    padding-left: 00rem;
  }
  #design {
    padding-top: 0;
    padding-left: 00rem;
  }
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
      .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
      .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid fade-out(white, 0.8);
      }
    }
    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;
      .navbar-nav {
        flex-direction: column;
        width: 100%;
        .nav-item {
          display: block;
        .nav-link {
          display: block;
        }
        }
      }
    }
  }
}
@media (max-width: 991px){
  .navigation-side{
    display: none;
  }
}
@media (max-width: 825px) {
  .col-sm-4{
    flex: 100%;
    max-width: 100%;
  }
  .fact{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .side-1 {
    width: 75%;
    float: none;
    margin-left: 10%;
  }
  .side-2 {
    width: 100%;
    float: none;
  }
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2.5rem;
  }
}
@media (max-width: 725px) {
  h5{
    font-size: 2rem;
  }
  .side-1 {
    width: 98%;
    float: none;
    margin-left: 5%;
    }
  }
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}